<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aftvc.top.dao.RankMapper">
    <select id="ScoreSum" resultType="Integer">
        SELECT SUM(score) as score FROM rank WHERE songListId=#{songListId}
    </select>
    <select id="ScoreCount" resultType="Integer">
        SELECT COUNT(*) AS COUNT FROM rank WHERE songListId=#{songListId}
    </select>
</mapper>
