<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aftvc.top.dao.SingerMapper">
    <update id="updateSingerPic" parameterType="Consumer" >
        update singer
        <set >
            <if test="pic != null" >
                pic = #{pic,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
